<div id="documental">
  <div class="img-doc">
    <img src="build/assets/img/categories/{{meta.thumbnail}}" alt="{{meta.title}}" width="640" height="230"/>
  </div>
  <div id="content">
    <div class="left">
      <h1>{{meta.title}}</h1>
      <h3>{{meta.sub_title}}</h3>

      <div ng-repeat="topic in topics">
        <h3>{{topic.content_title}}</h3>
        <p ng-bind-html="topic.content"></p>
        <br/>
        <h3>Ver video</h3>
        <youtube width="400" height="300" videoid="{{topic.media}}" type="{{topic.type}}"></youtube>
      </div>
    </div>
    <div class="right">
      <ul>
        <li ng-repeat="time in times">{{time | number:2}} Minutos</li>
      </ul>
    </div>
  </div>
  <a href="#/categories" title="Categorías" class="btn-cats btn-primary">Volver a las categorías</a>
</div>
