$default-bg: #FFF;
$btn-color: #BA007C;
$default-letter: #000;
$btn-letter: #FFF;
$grey: #E6E6E6;
$deep-grey: #424242;
/**** shared class ****/

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: $default-bg;
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

.btn-primary {
  color: $btn-letter;
  background-color: $btn-color;
}

.btn-cats {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
}
.btn-cats:visited,
.btn-cats:active {
  color: $btn-letter;
}

.btn-regis {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.page-section {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

/**** pre-header ****/
#pre-header {
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ccc;
}

/**** header ****/
#header {
  width: 100%;
  height: 400px
}

#header h1 {
  font-size: 50px;
  padding-bottom: 15px;
  text-align: left;
  margin-bottom: 20px;
}

.inner-header {
  width: 400px;
  margin: auto;
  margin-top: 80px;
}

/*** logo ***/
#logo {
  width: 25%;
  border: 0px solid;
}

/**** main-menu ****/
#main-menu {
  width: 50%;
  border: 0px solid green;
}

/**** user ****/
#user {
  width: 25%;
  border: 0px solid red;
}

/*** MENU ***/
.navigation {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
.navigation a:link, a:visited, a:active {
  color: $default-letter;
}

.navigation li {
  max-width: 120px;
  float: left;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  list-style-type: none;

  /* top right bottom left */
  padding: 10px 15px 15px 15px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.navigation li a {
  font-size: 16px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  text-decoration: none;
}

.navigation li:hover {
  background: $btn-color;
  color: $btn-letter;
}

.navigation li:hover a {
  color: $btn-letter;
  text-decoration: none;
}

.navigation li.separator {
  max-width: 500px;
}

/*** inside ***/
#inside {
  width: 100%;
  margin: auto;
  height: 400px;
  text-align: center;
  background-color: $grey;
}

#inside a {
  color: $btn-color;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

#inside div {
  max-width: 800px;
  margin: auto;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/**** info-box *****/

#info-box {
  float: left;
  max-width: 250px;
  height: 400px;
}

#info-box div{
  margin: 40px 0px;
}

.why-header h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

#footer {
  background-color: $deep-grey;
  height: 300px;
}
