$default-bg: #FFF;
$btn-color: #E6019A;
$btn-color-hover: #BA007C;
$default-letter: #000;
$btn-letter: #FFF;
$grey: #E6E6E6;
$deep-grey: #424242;
$border-color: #bdc3c7;
/**** shared class ****/

@font-face {
    font-family: fontForHeadersMed;
    src: url('../../../bower_components/fonts/Emtype Foundry - Geogrotesque-Medium.otf');
}

@font-face {
    font-family: fontForHeadersReg;
    src: url('../../../bower_components/fonts/Emtype Foundry - Geogrotesque-Regular.otf');
}

@font-face {
    font-family: fontForHeadersBol;
    src: url('../../../bower_components/fonts/Emtype Foundry - Geogrotesque-Bold.otf');
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: fontForHeadersReg;
  font-weight: 400;
  background: $default-bg;
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

.btn-primary {
  color: $btn-letter;
  background-color: $btn-color;
}

.btn-primary:hover {
  color: $btn-letter;
  background-color: $btn-color-hover;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-cats {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.btn-cats:visited,
.btn-cats:active {
  color: $btn-letter;
}

.btn-regis {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.page-section {
  padding-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto !important;
  margin-right: auto !important;
}

.page-section > div {
  margin-left: auto !important;
  margin-right: auto !important;
}
/**** pre-header ****/

#pre-header {
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ccc;
  margin-left: auto !important;
  margin-right: auto !important;
}

/**** header ****/

#header {
  width: 100%;
  height: 400px
}

#header h1 {
  font-size: 50px;
  padding-bottom: 15px;
  text-align: left;
  margin-bottom: 20px;
  font-family: fontForHeadersMed;
}

.inner-header {
  width: 400px;
  margin: auto;
  margin-top: 80px;
}

/*** logo ***/

#logo {
  width: 25%;
  border: 0px solid;
}

/**** main-menu ****/
#main-menu {
  width: 100%;
  border: 0px solid green;
}

#main-menu > ul {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

#main-menu > ul > li {
  width: 120px;
  text-align: center;
  font-weight: bold;
  list-style-type: none;
  padding: 10px 15px 15px;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  display: inline-block;
  margin-right: -4px;
}

#main-menu > ul > li a {
  text-decoration: none;
}

#main-menu > ul > li a:link, a:visited, a:active {
  color: $default-letter;
}

#main-menu > ul > li a {
  font-size: 16px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  text-decoration: none;
}

#main-menu > ul > li:hover {
  background: $btn-color;
  color: $btn-letter;
}

#main-menu > ul > li:hover a {
  color: $btn-letter;
  text-decoration: none;
}
/**** user ****/

#user {
  width: 25%;
  border: 0px solid red;
}

#user > ul {
  float: right;
  margin-right: 0px;
}

/*** MENU ***/

.navigation {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.navigation a:link, a:visited, a:active {
  color: $default-letter;
}

.navigation li {
  max-width: 120px;
  float: left;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  list-style-type: none;

  /* top right bottom left */
  padding: 10px 15px 15px 15px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.navigation li a {
  font-size: 16px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  text-decoration: none;
}

.navigation li:hover {
  background: $btn-color;
  color: $btn-letter;
}

.navigation li:hover a {
  color: $btn-letter;
  text-decoration: none;
}

.navigation li.separator {
  max-width: 500px;
}

/*** inside ***/

#inside {
  width: 100%;
  margin: auto;
  height: 300px;
  text-align: center;
  background-color: $grey;
}

#inside a {
  color: $btn-color;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

#inside div {
  max-width: 1000px;
  margin: auto;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/**** info-box *****/

#info-box {
  float: left;
  max-width: 300px;
  margin-right: 20px;
  padding: 20px 10px;
  margin-bottom: 50px;
}

#info-box div{
  margin: 40px 0px;
}

#info-box h1{
  margin-bottom: 20px;
  font-weight: bold;
}

#info-box a {
  color: $btn-color;
  text-decoration: none;
  font-weight: bold;
  font-family: fontForHeadersMed;
}

.why-header {
  margin-left: auto !important;
  margin-right: auto !important;
}

.why-header h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px;
}

#footer {
  background-color: $deep-grey;
  height: 200px;
  bottom: 0;
}

/***** login section *****/
.bg-login {
  height: 500px;
}


/****** categories *******/

#categories > h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 60px auto;
  text-align: center;
}

#categories > div {
  max-width: 1000px;
  margin: 50px auto;
  font-size: 20px;
  text-align: center;
}

/******** documentaries *******/
#documentaries {
  padding-bottom: 60px;
}

#documentaries > #portada {
  width: 100%;
  height: 300px;
  background: url(../img/doc_port.jpg) 0px -336px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

#documentaries > #portada > h1 {
  color: $btn-letter;
  font-size: 40px;
  font-weight: bold;
  padding: 60px 0px;
  text-align: center;
}

#documentaries > #portada > div {
  width: 100%;
  margin: 0 auto;
  color: $btn-letter;
  font-size: 20px;
  text-align: center;
}

#documentaries > #docs {
  width: 70%;
  margin: 0 auto;
}

#documentaries > #docs > h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 45px auto;
}

#documentaries > #docs .imgcont {
    vertical-align:top;
    width: 300px;
    height: 200px;
    display: inline-block;
}

/* resize images */
.imgcont img {
    width: 100%;
    height: auto;
    background-position: -100px -100px;
}

#documentaries > #docs > ul {
  width: 100%;
  margin: 0 auto;
}

#documentaries > #docs > ul > li {
  text-align: center;
  font-weight: 700;
  list-style-type: none;
  padding: 10px 15px 15px;
  margin-bottom: 40px;
}

#documentaries > #docs #info {
  vertical-align:top;
  display: inline-block;
  text-align: left;
  height: 200px;
  margin-left: 15px;
}

#documentaries > #docs #info > h3 {
  font-weight: bold;
  font-family: fontForHeadersBol;
  font-size: 20px
}
#documentaries > #docs #info > h4 {
  font-weight: bold;
  font-family: fontForHeadersBol;
  color: $border-color;
  font-size: 16px;
}

#documentaries > #docs #info > .brief {
  width: 400px;
}

#documentaries > #docs .link {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 15px 0;
  width: 100%;
  margin-top: 5px;
}

#documentaries > #docs #info > .link > .time {
    display: inline-block;
}

#documentaries > #docs #info > .link > a {
  margin-right: 0px;
  right: 0px;
  float: right;
  margin-top: -10px;
}

/***** documental ******/
#documental {
  width: 100%;
  margin: 50px auto;
}

#documental > .img-doc {
  width: 640px;
  height: 230px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.img-doc img {
  width: 100%;
  height: 100%;
}

#documental > #content {
  width: 640px;
  margin: 40px auto;
}

#documental > #content > .left {
  display: inline-block;
  vertical-align:top;
  width: 400px;
}

#documental > #content > .left > h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 0px 0px 40px;
  text-align: left;
}

#documental > #content > .left > p {
  padding: 0px 0px 20px;
  text-align: left;
  width: 300px;
  font-family: fontForHeadersMed;
}

#documental > #content > .right {
  display: inline-block;
  vertical-align:top;
  width: 200px;
  float: right;
}

#documental > a {
  display: block;
  text-align: center;
  width: 220px;
  margin: 0 auto;
  font-family: fontForHeadersBol;
}
